html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template:
    [row1-start] "header" 116px [row1-end]
    [row2-start] "main" 2fr [row2-end]
    [row3-start] "footer" 20px [row3-end]
    / 1fr
}

.headerContent {
    display: grid;
    grid-area: header;
    grid-template:
    [row1-start] "headerSection" 2fr [row1-end]
    [row2-start] "navbar" 1fr [row2-end];
}

.headerSection {
    background-color: #f0f0f0;
    grid-area: headerSection;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
}

h1 {
    align-self: center;
}

svg {
    justify-self: end;
    align-self: center;
}

nav {
    grid-area: navbar;
    background-color: #c0c0c0;
    align-self: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarListContainer {
    display: grid;
    padding: 10px;
    grid-template-columns: 61px auto;
    align-self: end;
}

.mainContentContainer{
    grid-area: main;
    padding: 0 60px;
}

footer {
    background-color: #c0c0c0;
    grid-area: footer;
}

.footerListContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

small {
    padding: 0 0 0 15px;
}

.footerGithubTitle {
    justify-self: end;
    padding-right: 15px;
}