body {
    margin: 0;
}

header {
    background-color: #f0f0f0;
    text-align: left;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

svg {
    position: absolute;
    right: 16px;
    padding-right: 10px;
}

ul {
    background-color: #c0c0c0;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

li {
    display: inline;
  }

.githubNavTitle {
    padding-left: 20px;
}

.contentContainer {
    max-width: 70%;
    margin: auto;
}

h1 {
    font-size: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.githubFooterTitle {
    position: absolute;
    right: 16px;
}